.ui-bar-d{
    height:170px;
    text-align:center;
}

.ui-bar-b{
    height:20px;
    text-align:center;
}

.title{
    height:20px;
    text-align:center;
}

.subjectLink{
    color:green;
}

.speakerLink{
    color:red;
}

.party{
    height:40px;
    text-align:center;
}
